body{

    display: flex;
    justify-content: center;
    align-content: center;
  
    background:royalblue;
    
    
}
.Formulario{
    
    background: rgb(18, 41, 112);;
    width: 320px;
    height: 500px;
    border-radius: 20px;
    color: white;
    
}
.Formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

#nombreingreso{
    gap: 5px;
    display: flex;
    flex-direction: column;
    
    
    
}
#email{
    gap: 5px;
    display: flex;
    flex-direction: column;
    
}
.Formulario input{
    text-align: center;
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    
}
.Formulario button{

    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid white;
    background: none;
    color: white;
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;


}
.Formulario button:hover{
    color:  rgb(9, 29, 90);;
    background: white;;
    cursor: pointer;
    transition: 0.3s;
}
#contenedor{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap; /* Si no caben, bajan a la siguiente linea */
    gap: 20px;
    justify-content: center;
    width: 100%;
    height: 500px;
    border: 2px solid white;
}

.tarjetaAlumno{

    
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: white;
    animation: aparecer 0.5s ease;
}
@keyframes aparecer {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}



