body{

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

#contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    background: rgb(18, 41, 112);
    width: 450px;
    height: 500px;
    border-radius: 15px;
    
}
.registro{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 30px;
  
    
}
.nuevoUsuario{
    
    font-family: 'Courier New', Courier, monospace;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nuevoUsuario input{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 40px;
    border:none;
    border-radius: 10px;
    width: 200px;

}

#registrar{
   background: rgb(18, 41, 112);
   color: white;
    height: 40px;
    width: 150px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}
#registrar:hover{

    background: white;
 

    color:rgb(18, 41, 112);
    border: 2px solid white;
    transition: 0.3s;
    cursor: pointer;

}


