body {
  padding: 0;
  margin: 0;
  background: royalblue;
}
/*trabajando la barra de navegacion*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(18, 41, 112);
  width: 100%;
  height: 60px;
}
.barra {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 40px;
  height: 100%;
  padding: 0px;
}
.barra li {
  display: flex;
  align-items: center;
}
.barra li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
}
.barra li a:hover {
  background: white;
  color: royalblue;
  transition: 0.4s;
}
/*Aqui empiezan los submenus*/

.has-submenu {
  position: relative;
}

.submenu,
.submenuLargo {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(18, 41, 112);
  border: 2px solid white;
}

.submenu,
.submenuLargo {
  padding: 0px;
  margin: 0px;
  justify-items: center;
}
.submenu li a,
.submenuLargo li a {
  display: block;
  padding: 10px 15px;
}

/* Trabajando el efecot de ocultar los submenus*/

.submenu,
.submenuLargo {
  list-style: none;
  display: none;
}
.has-submenu:hover .submenu,
.has-submenu:hover .submenuLargo {
  display: block;
}
