body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
  background: url("../imagenes/logo.png");
  background-size: 60px;
  background-attachment: fixed;
}
/*trabajando la barra de navegacion*/

.header {
  position: sticky;
  top: 0px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(18, 41, 112);
  width: 100%;
  height: 90px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.5);
}
.barra {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 40px;
  height: 100%;
  padding: 0px;
}

.barra li {
  display: flex;
  align-items: center;
}
.barra li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
}
.barra li a:hover {
  background: white;
  color: rgb(18, 41, 112);
  transition: 0.4s;
}
/*Aqui empiezan los submenus*/

.has-submenu {
  position: relative;
}

.submenu,
.submenuLargo {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(18, 41, 112);
  border: 2px solid white;
  z-index: 1000;
}

.submenu,
.submenuLargo {
  padding: 0px;
  margin: 0px;
  justify-items: center;
}
.submenu li a,
.submenuLargo li a {
  display: block;
  padding: 10px 15px;
}

/* Trabajando el efecot de ocultar los submenus*/

.submenu,
.submenuLargo {
  list-style: none;
  display: none;
}
.has-submenu:hover .submenu,
.has-submenu:hover .submenuLargo {
  display: block;
}

/*trabajando el muro escolar//////////////////////////////////////////////////////*/

.muro {
  
  margin: 0;
  padding: 0;
  background: white;
  height: 550px;
  width: 750px;

  border-radius: 15px;

  display: flex;

  justify-content: space-between;

  align-items: center;
}
#botonAtras {
  padding: 0px;
  margin: 0px;
  width: 45px;
  height: 45px;
  background: rgb(18, 41, 112);
  color: white;
  font-size: 30px;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
}

#carruselIma {
  width: 600px; /* Ancho de la imagen visible */
  height: 400px; /* Alto de la imagen */
  overflow: hidden; /* Esconde las imágenes que no están activas */
  display: flex;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background: grey;
}
#carruselIma img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Evita que las fotos se deformen */
  flex-shrink: 0; /* Evita que las imágenes se colapsen */
  transition: transform 0.5s ease-in-out; /* El efecto de deslizamiento */
}
#botonAdelante {
  padding: 0px;
  margin: 0px;
  width: 45px;
  height: 45px;
  background: rgb(18, 41, 112);
  color: white;
  font-size: 30px;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
}

/*trabajando la seccion de noticias */
.noticias {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  width: 100%;
  height: 450px;

  border-radius: 10px;
  background: white;
}
.articulo {
  border-radius: 10px;
  width: 45%;
  height: 85%;
  background: grey;
}
.articulo img {
  width: 100%;
  height: 100%;
}
.promocion {
  border-radius: 10px;
  width: 45%;
  height: 85%;
  background: gray;
}
.promocion img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

/*trabajando el pie de pagina */
.piePagina {
  width: 100%;
  height: 220px;
  background: black;
  color: white;
  text-align: center;
}
