body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: royalblue;
    width: 100%;
    height: 60px;
}
.header .barra{


    padding: 0;
    margin: 0;
    align-self: center;

}
.header .barra li{
    list-style: none;
    display: inline-block;
    padding: 0 40px;    
}
.header .barra a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.header .barra li.has-submenu{
    position: relative;
    display: inline-block;
    
    padding: 0 30px;
    padding-bottom: 15px;
    margin-bottom: -5px;

}
.header .barra li.has-submenu:hover .submenu{
    display: block;
    

}

.submenu{
    padding: 0;
    margin: 0;
}
.submenu{
    border: 2px solid white;
    display: none;
    position: absolute;
    width: 150px;
    background: royalblue;
    top: 30px;
    z-index: 1000;
    
}
.submenu li{
    color: white;
    list-style: none;
    text-align: left;


}
/*seccion de main y anuncios*/
.main{
    
    width: 100%;
    height: 1000px;
    background: darkblue;
    

}
.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
.noticias{
    border-radius: 15px;
    width: 550px;
    height: 350px;
    background: white;
}
.lateral{
    border-radius: 15px;
    width: 450px;
    height: 350px;
    background: white;
}

.eventos{
    display: flex;
    height:400px;
    width: 100%;
    background: darkblue;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}
#eventoReel{

    
    width: 850px;
    height: 350px;
    background: white;
    border-radius: 15px;

}

/*pie de pagina*/


.piePagina{
    width: 100%;
    height: 330px;
    
    background: black;
}
